[Bb]in/
[Oo]bj/
*.exe
*.dll
*.pdb
*.exp
*.lib
*.ilk
*.idb
*.tlog/
*.lastbuildstate
*.nativecodeanalysis.*
*.build.log

.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
myredis/

*.db
*.log
*.tmp
*.temp

Thumbs.db